@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin end  {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


@mixin around  {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


@mixin column  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
